.DS_Store
/work
/node_modules
*.configbean
/pids
/log
.cache
.beans
/static
*.marko.js
*.dust.js
oom_1
restarts_1
/coverage
/tests/src/reports
npm-debug.log
restarts_1
sshkeymaclaptop
sshkeymaclaptop.pub

.telemetry.json