@import url(https://fonts.googleapis.com/css?family=Pacifico);

/*@import url(https://fonts.googleapis.com/css?family=Abel);
*/

@import url(https://fonts.googleapis.com/css?family=Handlee);
body {
    /*background: #6a6c78;*/
    background: #4E4E4E;
    /*font-family: 'Abel', sans-serif;*/
    font-family: 'Handlee', cursive;
    font-size: 18px;
}

.title {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #000;
    font-size: 40px;
    margin: 0;
    float: left;
    padding-left: 20px;
    letter-spacing: 0.1em;
}

.subtitle {
    font-family: 'Handlee', cursive;
    text-align: center;
    color: #fffef7;
}

button{
    display:block;
    margin-top:20px;
    margin-bottom:20px;
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    border-radius:3px;
    border:2px solid black;
    font-weight:bold;
}

.navbar {
    width: 100%;
        background: #fffef7 url('assets/paper.png');

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-right: 30px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    /*padding-left:30px;*/
}

.wrapper {
    margin-top: 125px;
}

.menu {
    margin-top: 10px;
}

.menu ul {
    display: inline-block;
    overflow: hidden;
    float: right;
    margin-right: 50px;
}

.menu ul li {
    float: left;
    margin-left: 50px;
    list-style-type: none;
    font-weight: bold;
}

.spacer {
    width: 30px;
    display: inline-block;
    height: 75px;
    float: left;
}

.pink {
    background: #d25c4e;
}

.orange {
    background: #eba95b;
}

.yellow {
    background: #f3d358;
}

.green {
    background: #a6cd70;
}

.blue {
    background: #94cfc9;
}


.container {
    position: relative;
    width: 600px;
    /*background-color: #fffef7;*/
    background: #fffef7 url('assets/paper.png');
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    /*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.29);*/
}

/*.container:before{
    content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 40px 40px 0;
  border-style: solid;
  border-color: #fffef7 #6a6c78;
  box-shadow: 0 2px 0px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}*/


}
.plain_youtube {
    width: 600px;
    overflow: hidden;
}
.plain_youtube code {
    overflow: hidden;
}
.prettyprint {
    max-width: 550px;
}
pre {
    font-size: 14px;
    font-family: monospace;
}

/* desert scheme ported from vim to google prettify */
pre.prettyprint {
    display: block;
    background-color: #333;
}
pre .nocode {
    background-color: none;
    color: #000;
}
pre .str {
    color: #ffa0a0;
}

/* string  - pink */
pre .kwd {
    color: #f0e68c;
    font-weight: bold;
}
pre .com {
    color: #87ceeb;
}

/* comment - skyblue */
pre .typ {
    color: #98fb98;
}

/* type    - lightgreen */
pre .lit {
    color: #cd5c5c;
}

/* literal - darkred */
pre .pun {
    color: #fff;
}

/* punctuation */
pre .pln {
    color: #fff;
}

/* plaintext */
pre .tag {
    color: #f0e68c;
    font-weight: bold;
}

/* html/xml tag    - lightyellow */
pre .atn {
    color: #bdb76b;
    font-weight: bold;
}

/* attribute name  - khaki */
pre .atv {
    color: #ffa0a0;
}

/* attribute value - pink */
pre .dec {
    color: #98fb98;
}

/* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #AEAEAE;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none;
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {}
@media print {
    pre.prettyprint {
        background-color: none;
    }
    
    pre .str,
    code .str {
        color: #060;
    }
    
    pre .kwd,
    code .kwd {
        color: #006;
        font-weight: bold;
    }
    
    pre .com,
    code .com {
        color: #600;
        font-style: italic;
    }
    
    pre .typ,
    code .typ {
        color: #404;
        font-weight: bold;
    }
    
    pre .lit,
    code .lit {
        color: #044;
    }
    
    pre .pun,
    code .pun {
        color: #440;
    }
    
    pre .pln,
    code .pln {
        color: #000;
    }
    
    pre .tag,
    code .tag {
        color: #006;
        font-weight: bold;
    }
    
    pre .atn,
    code .atn {
        color: #404;
    }
    
    pre .atv,
    code .atv {
        color: #060;
    }
}
